<link rel="stylesheet" href="./css/style.css">
<div class="card-container">
    <div class="image-body">
    </div>
    <div class="text-body">මැයි මාර ප්‍රසංගය – May Mara Prasangaya</div>
    <div class="stock-status">Out of stock</div>
    <button class="cart-btn">Adds to Cart</button>
</div>