<!-- Categories Section  -->
<div class="cat-heading">All Categories</div>
<div class="cat-items">
    <a href="#" class="cat-item-link"><i class="bi bi-caret-right-fill"> Education – අධ්‍යාපනික</i></a>
    <a href="#" class="cat-item-link"><i class="bi bi-caret-right-fill"> Awards – සම්මාන කෘති</i></a>
    <a href="#" class="cat-item-link"><i class="bi bi-caret-right-fill"> Biography – චරිතාපදාන</i></a>
    <a href="#" class="cat-item-link"><i class="bi bi-caret-right-fill"> Children’s – ළමා කෘති</i></a>
    <a href="#" class="cat-item-link"><i class="bi bi-caret-right-fill"> Novels – නවකතා</i></a>
    <a href="#" class="cat-item-link"><i class="bi bi-caret-right-fill"> Poetry – කාව්‍යය</i></a>
    <a href="#" class="cat-item-link"><i class="bi bi-caret-right-fill"> Religious – ආගමික</i></a>
    <a href="#" class="cat-item-link"><i class="bi bi-caret-right-fill"> Education – අධ්‍යාපනික</i></a>
    <a href="#" class="cat-item-link"><i class="bi bi-caret-right-fill"> Short Stories – කෙටි
            කතා</i></a>
    <a href="#" class="cat-item-link"><i class="bi bi-caret-right-fill"> Translations – පරිවර්තක</i></a>
    <a href="#" class="cat-item-link"><i class="bi bi-caret-right-fill"> Fiction – ප්‍රබන්ධ</i></a>
    <a href="#" class="cat-item-link"><i class="bi bi-caret-right-fill"> Sci-Fi – විද්‍යා
            ප්‍රබන්ධ</i></a>
</div>