<%- include("partials/header.ejs") %>

<div class="container mt-3">
    <div class="row">
        <div class="category col-lg-4 col-md-12 desktop-only">
            <%- include("partials/categories.ejs") %>
        </div>
        <div class="content col-lg-8 col-md-12">
            <!-- Content for All page -->
            <h2>All Books</h2>
            <!-- Add your content here -->
        </div>
    </div>
</div>

<%- include("partials/offcanvas.ejs") %>
<%- include("partials/footer.ejs") %>
