<%- include("partials/header.ejs") %>

    <div class="container mt-3">
        <div class="row">
            <div class="category col-lg-4 col-md-12 desktop-only">
                <%- include("partials/categories.ejs") %>
            </div>
            <div class="content col-lg-8 col-md-12">
                <!-- Path Showing Thing Start -->
                <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
                    aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Authors</li>
                    </ol>
                </nav>
                <!-- Path Showing Thing End -->

                <!-- Content for Authors page -->
                <h2>Authors</h2>
                <!-- Add your content here -->
            </div>
        </div>
    </div>

    <%- include("partials/offcanvas.ejs") %>
        <%- include("partials/footer.ejs") %>